.App {
  text-align: center;
}

#search-button{

  background-color: black;
  border-color: black;
}

.form-control{
    border: 1px solid black;

}
.form-outline{
    border: 1.4px solid black;
    background-color: black;
     border-radius: 7px;
}

.search-tr{
    cursor: pointer;
}

.search-tr:hover{
    background-color: rgba(0, 0, 0, 0.5);
}